/**************************
 * Reset some basic elements
 **************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

input, select {
  vertical-align: middle;
}

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

/****************
 * Utilities
 ***************/
/**
 * Wrapper
 */
.wrapper {
  max-width: 1192px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
}

@media screen and (max-width: 1192px) {
  .wrapper {
    max-width: 1192px;
    margin: 0 30px;
    widows: 100%;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  display: table;
  clear: both;
  content: '';
}

/***************
 * Basic styling
 ***************/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul, li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Trypography
*/
.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}

/**
 * Links
 */
a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #2a7ae2;
  background: transparent;
}

a:visited {
  color: #1756a9;
}

a:hover {
  text-decoration: underline;
  color: #111;
}

/* Sprites */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.6%;
}

.span_2_of_4 {
  width: 49.2%;
}

.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 767px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%;
  }
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 767px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 767px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }
}

.logo {
  overflow: hidden;
  width: 306px;
  height: 120px;
  white-space: nowrap;
  text-indent: 120%;
  background: url(../images/ats-logo.png) no-repeat;
}

header .main-nav,
header .search,
header .social,
header li {
  display: inline-block;
}

.main-nav li {
  margin-right: 10px;
}

.main-nav a {
  font-size: 12px;
}

/* Sprites for header
 * Mixin in _base.scss 
 */
.ico_facebook-black {
  width: 42px;
  height: 45px;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin: 0 2px 0 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
}

.ico_linkedin-black {
  width: 42px;
  height: 45px;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -42px 0px;
  margin: 0 2px 0 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
}

.ico_mag-glass {
  width: 42px;
  height: 45px;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -84px 0px;
  margin: 0 2px 0 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
}

.ico_twitter-black {
  width: 42px;
  height: 45px;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -45px;
  margin: 0 2px 0 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
}

header form {
  display: none;
}

.search {
  margin: 0 0 0 -4px;
}
