/*******************
* Reset and Utilities
*******************/
/* Eric Myers Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	font: inherit;
	font-size: 100%;

	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* Border Box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* Images and Iframes */
img,
iframe,
video {
	max-width: 100%;
	height: auto;
}

/* Normalize.css links*/
/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	text-decoration: none;

	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}
/*******************
* Typography
*******************/
body {
	font: 16px/1.5 'Myriad Pro', 'Myriad Pro Regular', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
/*******************
* Helper Classes
*******************/
.right {
	float: right;
}
.left {
	float: left;
}
.hidetext {
	display: block;
	overflow: hidden;

	white-space: nowrap;
	text-indent: 200%;
}
/* padding content areas other than top nav and slider*/
.contentpadding {
	padding: 0 22px 0 22px;
}
.contentpadding-left {
	padding: 0 0 0 22px;
}

/*******************
* Full Width
*******************/
.wrapper {
	display: table;
	clear: both;

	width: 100%;
	max-width: 1170px;
	margin: 0 auto;

	content: '';

	border-right: 1px solid blue;
	/* debug */
	border-left: 1px solid blue;
}
/* Top Area */
.top {
	height: 42px;

	background-color: #2d903c;
}
.top-container {
	margin-top: 6px;
}
.top-nav,
.top form,
.social-top,
.top-nav li {
	display: inline-block;

	vertical-align: middle;
}

.top-nav li {
	height: 19px;
	margin-top: -3px;
	padding: 0 0 0 15px;

	border-right: 1px solid #a5cf46;;
}
.top-nav li:nth-of-type(1),
.top-nav li:nth-of-type(2) {
	padding-right: 10px;
}
.top-nav li:last-of-type {
	border-right: none;
}
.top-nav li a {
	display: inline-block;

	color: #fff;
}
.top form {
	position: relative;
	top: -3px;
	right: 5px;

	margin: 0 0 0 24px;
}
.top form input[type='search'] {
	font-family: 'Myriad Pro', 'Myriad Pro Regular', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 14px;

	width: 163px;
	height: 25px;
	padding: 2px 0 0 0;

	color: #bfbfbf;
	border: none;

	-webkit-appearance: none;
	-moz-appearence: none;
	     appearence: none;
}
.top form input[type='submit'] {
	position: absolute;
	top: 3px;
	right: 7px;

	width: 19px;
	height: 19px;

	border: none;
	background: url(../images/search-icon.png);

	-webkit-appearance: none;
	-moz-appearence: none;
	     appearence: none;
}

.social-top li {
	position: relative;
	top: 2px;

	display: inline-block;
}
.social-top a {
	width: 27px;
	height: 27px;

	background: url('../images/social-icons.png');
}
.social-top .twitter {
	background-position-x: -32px;
}
.social-top .linkedin {
	background-position-x: -61px;
}
.social-top .instagram {
	background-position-x: -93px;
}
/*Hidden search icon along left*/
.search-icon {
	display: none;
}
/* Logo and Menu Area*/
/* Setting up this area*/
h1,
nav.main {
	display: inline-block;

	vertical-align: middle;
}

/*h1 is the logo*/
h1 a {
	width: 227px;
	height: 70px;
	margin: 31px 0 0 3px;

	background: url(../images/logo.png) no-repeat;
	-webkit-background-size: contain;
	        background-size: contain;
}
/*main menu - top level*/

/*Position menu*/
.menu-toggle {
	display: none;
}
.main {
	position: relative;

	margin: 42px 0 0 64px;
}
/* Handle borders and position for top level items */
.main > ul li {
	display: inline-block;

	padding: 0 24px 0 19px;

	border-right: 1px solid black;
}
/* Remove left padding from first item*/
.main > ul li:nth-of-type(1) {
	padding-left: 0;
}
/* Separate Styles for Donate */
.main > ul > li:last-of-type,
.main > ul > li:nth-last-of-type(2) {
	border-right: none;
}
.main > ul > li:last-of-type {
	padding-left: 12px;
}
.main > ul > li:last-of-type a {
	font-size: 24px;
	font-weight: 600;

	position: relative;
	top: -3px;

	padding: 13px 21px;

	color: #fff;
	background: #df5f1e;
}

/* Colors and fonts for the links*/
.main > ul li a {
	font-family: 'Myriad Pro';
	font-size: 21px;
	font-weight: 400;

	color: #4d4d4f;
}
/* Dropdown */
li ul {
	position: absolute;
	top: 43px;
	left: -42px;

	display: none;

	width: 192px;
	padding: 0 0 18px 0;

	background-color: rgba(165, 207, 70,0.9);
}
/* Use multiple selectors to override styles from top levl */
.main li ul li {
	display: block;

	padding: 0;

	border-right: none;
}
.main .dropdown a {
	font-size: 16px;
	line-height: 18px;

	display: block;

	width: 100%;
	height: 100%;
	padding: 8px 13px 5px;

	color: #fff;
}
.main .dropdown li:first-of-type {
	margin-top: 11px;
}
.dropdown a:hover {
	background-color: #80a53d;
}
li:hover ul {
	display: block;
}
.triangle {
	position: absolute;
	top: -12px;
	left: 83px;

	width: 0;
	height: 0;

	border-width: 0 13.5px 12px 13.5px;
	border-style: solid;
	border-color: transparent transparent rgba(165, 207, 70, 0.85) transparent;
}
/****
* Slideshow
****/
.cycle-slideshow-wrap {
	position: relative;

	width: 100%;
	max-width: 1170px;
	margin: 30px auto 0;

	border-top: 6px #0082c9 solid;
}
/* wrapper div for position*/

.slider-textbox {
	position: absolute;
	right: 11.1%;
	bottom: 19.6%;

	width: 263px;
	height: 303px;
	padding: 27px 31px 32px 25px;

	opacity: 0.95;
	background: #fffefe;
}
h2 {
	font-size: 36px;
	font-weight: 600;
	line-height: 47px;

	color: #0082c9;
}
/* Pager and left/right images*/
.cycle-pager {
	position: absolute;
	z-index: 999;
	bottom: 7.5%;

	width: 100%;

	text-align: center;
}
.cycle-pager span {
	font-size: 42px;

	margin: 0 4.4px;

	color: #fff;
}
.cycle-pager span.cycle-pager-active {
	color: #df5f1e;
}
/*******************
* Tablet Landscape /
* Small Laptop
*******************/
@media (max-width: 1170px) {
	.wrapper {
		max-width: 961px;
		padding: 0 10px;
	}
}

/*******************
* Tablet Portait
*******************/
@media (max-width: 960px) {
	.wrapper {
		max-width: 768px;
		padding: 0;
	}
	h1 a {
		width: 160px;
	}
	.main {
		margin: 10px 0 0 27px;
	}
	.main > ul li a {
		font-size: 16px;
	}
	.main > ul li {
		padding: 0 10px 0 8px;
	}
	.main > ul > li:last-of-type {
		padding-left: 5px;
	}
	.main > ul > li:last-of-type a {
		font-size: 20px;

		padding: 7px 10px;
	}
}
/*******************
* Phone Landscape
*******************/
@media (max-width: 767px) {
	.top-nav li:nth-of-type(1), .top-nav li:nth-of-type(2) {
		padding-right: 5px;
	}
	.top-nav li {
		padding: 0 0 0 5px;
	}
	/*Menu*/
	.menu-toggle {
		display: block;
		float: right;
	}
	nav.main {
		display: block;

		margin: 0;
	}
	.main > ul li {
		display: block;

		padding: 5px 0 5px 0;
	}
	.slider-textbox {
		position: relative;
		right: 0;
		bottom: 0;

		width: 100%;
		height: auto;

		text-align: center;
	}
}

/*******************
* Phone Portrait
*******************/
@media (max-width: 480px) {
	.search-icon {
		display: block;

		height: 32px;
		margin: 5px 0 0 5px;
	}
	.search-icon.active {
		opacity: 0.5;
	}

	.top form {
		position: absolute;
		top: 42px;
		left: 0;

		display: block;

		width: 100%;
		margin: 0 auto;
		padding: 15px;

		opacity: 0;
		border-top: 3px solid #a5cf46;
		background-color: #2d903c;
	}
	.top form.active {
		opacity: 0.9;
	}
	.top form input[type='search'] {
		width: 100%;
	}
	.top form input[type='submit'] {
		top: 18px;
		right: 21px;
	}
}

/*******************
* Additional Breakpoints
*******************/
@media (min-width: 768px) and (max-width: 1170px) {
}

@media (max-width: 400px) {
}