<div class="how-works-wrap">
			<div class="wrapper how-works">
				<h3>How It Works</h3>
				<div class="section group">
						<div class="col span_1_of_4">
									<img src="../assets/btm/tbtm/how-it-works/icon-arrow.png" alt="arrow icon">
									<div class="how-works-text">
										<h5>Choose</h5>
										<p>How do you want to raise funds?</p>
									</div>

						<span class="long-arrow arrow-one"></span>
						</div>
						<div class="col span_1_of_4">
									<img src="../assets/btm/tbtm/how-it-works/icon-megaphone.png" alt="megaphone icon">
									<div class="how-works-text">
										<h5>Customize your page</h5>
										<p>Share your story and add a photo.</p>
									</div>
							
							<span class="long-arrow arrow-two"></span>
						</div>
						<div class="col span_1_of_4">
									<img src="../assets/btm/tbtm/how-it-works/icon-money.png" alt="money icon">
									<div class="how-works-text">
										<h5>Raise funds</h5>
										<p>Share your passion. Send emails. Have fun.</p>
									</div>
						
							<span class="long-arrow arrow-three"></span>
						</div>
						<div class="col span_1_of_4">
								<img src="../assets/btm/tbtm/how-it-works/icon-heart.png" alt="heart icon">
								<div class="how-works-text">
									<h5>Deliver cures</h5>
									<p>The money you raise will help patients get the transplant they need.</p>
								</div>
						</div>
					</div> <!-- ./section-gruop -->					
				</div> <!-- ./wrapper -->
			</div> <!-- ./how-works-wrap -->
