<div class="wrapper">
[[?xx::x[[S1:user_name]]x::

<p style="padding:20px 25px">Not signed up yet? <a href="TRR/LifeEvents/Foundation/992984207?pg=ptype&fr_id=3730">Click here to register</a> and create your own personal fundraising page.</p>

 <form action="UserLogin?NEXTURL=[[T1:http://www.bethematchfoundation.org/site/TRC/Events/General?pg=center&fr_id=3730]]" id="lLogonForm" name="lLogonForm" method="post">        
        <input type="text" name="USERNAME" id="USERNAME" title="User Name" placeholder="Username">
        <input type="password" name="Password" id="Password" title="Password" placeholder="Password">
        <ul class="login-actions">
          <li><button type="submit" name="login" id="login">Login</button></li>
          <li><a href="UserLogin?CMD=ForgotPassword">Forgot password?</a></li>
        </ul>
      </form>



::


[[S409]]


]]
</div>