[[?x[[S1:user_name]]x::xx::
<form action="UserLogin" method="post" name="lLogonForm">
<table cellspacing="0" cellpadding="0" border="0" class="formBox" id="li_comp_usr">
<tbody><tr>
<td id="li_comp_usr_ttlTd" colspan="2">
<p><strong>User Login</strong></p>
</td>
</tr>


<tr>
<td class="li_comp_usr_lblTd">
<p><label for="USERNAME">Username: </label></p>
</td>
<td class="li_comp_usr_valTd">
<input type="text" maxlength="60" value="" id="USERNAME" name="USERNAME" size="10">
</td>
</tr>
<tr>
<td class="li_comp_usr_lblTd">
<p><label for="Password">Password:</label></p>
</td>
<td class="li_comp_usr_valTd">
<input type="password" maxlength="20" id="Password" name="Password" size="10">
</td>
</tr>
<tr>
<td class="li_comp_usr_lblTd">
<p>&nbsp;</p>
</td>
<td class="li_comp_usr_valTd">
<input type="submit" title="Login" value="Login" id="login" name="login">
</td>
</tr>
<tr>
<td id="li_comp_usr_rmbrTd" colspan="2">
<p> <label for="RememberMe">Remember me?</label>
<input type="checkbox" value="RememberMe" id="RememberMe" name="RememberMe">

</p>
<p style="text-align: right;"><a href="https://secure2.convio.net/marrow/site/ConsProfileUser">New User?</a><br>
<a href="UserLogin">Trouble signing in?</a>
</p></td>
</tr>
</tbody></table>
<input type="hidden" value="https://secure2.convio.net/marrow/site/SPageServer?pagename=btmwr_login" id="NEXTURL" name="NEXTURL">
</form>
::
 <h1>My Events</h1>
    <h2>Welcome back, [[S1:first_name]]! Not, [[S1:first_name]]? <a href="UserLogin?logout=&NEXTURL=[[S8]]">Logout.</a></h2>

    <div class="search-results">
        [[S39:0*#000000*14px*true*999*0*0*:true:Walk+Run:]]
        <!-- [[S39:0*red*12px*true*50*0*0*TeamRaisers]] -->
        <!-- [[S39:0*#000000*12px*true*999*0*0*:true:Walk+Run::]] -->
    </div>
]]