/**
 * Resets
 */

/* FF Hover*/
.toolkit-template ul li a {
  outline: 0;
}

.toolkit-template p {
      font-family: 'Calibri-light', 'Calibri';
    font-size: 18px;
}
/* LI Styles */
.entry-content ul.tk-menu-1 li,
.entry-content ul.tk-menu-2 li,
.entry-content ul.tk-menu-3 li {
  display: inline-block;
  padding-bottom: 0;
}

/* Before elements*/
ul.tk-menu-1 li:before,
ul.tk-menu-2 li:before,
ul.tk-menu-3 li:before {
  content: none !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * End Resets
 */

#toolki {
  margin: 12px 0 0 0;
}


.tk-menu-2-bs {
  margin-left: 40px;
}
.tk-menu-2-bs .col-md-4 {
  background: #e7e8e8;
}

/**
 *  Menu One 
 */
ul.tk-menu-1 {
  padding-left: 0;
  margin: 0 0 55px 0;
}
ul.tk-menu-1 li a {
 font-weight: bold;
  color: #a7a9ac;
  padding: 13px 36px;
  background: #e7e8e8;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}
/* Top Menu Hover Effects*/
ul.tk-menu-1 li a:hover {
  text-decoration: none;
}
ul.tk-menu-1 li a.active {
 background: #7ac144;
  color: #fff;
}
ul.tk-menu-1 li a.active .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 12.5px 0 12.5px;
  border-color: #7ac144 transparent transparent transparent;
  position: absolute;
  left: 45%;
  bottom: -15px;
  z-index: 999;
}
/**
 * TK Items
 */

/* TK item titles */
.tk-item-title {
  padding: 12px 21px;
  font-family: adobe-garamond,"Garamond","Times New Roman",sans-serif;
  color: #223e7c;
  font-size: 29px;
  font-weight: 400;
  width: 100%;
  background: url('/ncoa/assets/img/tk-item-green-right.png') no-repeat;
  background-color: #e7e8e8;
  background-position: 95% 50%;
  display: block;
  width: 100%;
 transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.tk-item.even .tk-item-title {
  background-color: #f6f7f8;
  padding: 24px 21px;
}

/* Item and container toggle*/

.tk-item {
  cursor: pointer;
  overflow: hidden;
}
.tk-item .container {
  display: none;
}

.tk-item.active .container {
  display: block;
  cursor: initial;
}
.tk-item.active .tk-item-title {
  background: url('/ncoa/assets/img/tk-item-white-down.png') no-repeat;
  background-color: #223e7c;
  background-position: 95% 50%;
  color: #fff;
}
/* Toolkit Item Groups */
.tk-item-group {
  display: none;
}
.tk-item-group.active {
  display: block;
}

/* TK Interior Area */
/* TK menu 2*/
ul.tk-menu-2 {
  margin: 26px 0 101px 0;
}
ul.tk-menu-2 li  {
  display: block;
  float: right;
  width: 32%;
  margin-left: 10px;
  }
ul.tk-menu-2 li a {
  font-family: 'Calibri';
  color: #a7a9ac;
  padding: 5px 0;
  background: #e7e8e8;
  font-size: 24px;
  font-weight: 400;
      width: 100%;
    display: block;
    text-align: center;
}
/* Reset */
ul.tk-menu-2 li:before {
  content: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Top Menu Hover Effects*/
ul.tk-menu-2 li a:hover,
ul.tk-menu-2 li a.active {
  text-decoration: none;
}
ul.tk-menu-2 li a.active {
  background: transparent;
  color: #1b1b1b;
}

/**
 * Item Subsection
 */

 .item-subsection {
  display: none;
 }
 .item-subsection.active {
  display: block;
 }
 #toolkit h2 {
      color: #1b1b1b;
    font-family: 'Calibri';
    font-size: 27px;
 }


/*Menu 3*/

ul.tk-menu-3 {
  display: none;
    width: 100%;
    border-bottom: 1px solid #ced0d2;
    margin: 0 0 40px 35px;
    max-width: 1014px;
    padding-left: 0;
  }
ul.tk-menu-3.active {
  display: inline-block;
}
ul.tk-menu-3 li  {
  display: inline-block;
  }
ul.tk-menu-3 li a {
  font-family: 'Calibri';
  color: #223e7c;
  padding: 13px 36px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
ul.tk-menu-3 li:first-child a {
  padding-left: 0;
}
ul.tk-menu-3 li:not(:last-child) {
  border-right: 1px solid #ced0d2;
  height: 33px;
}
ul.tk-menu-3 li a.active {
  color: #7bc143;
}
/* Reset */

/* Top Menu Hover Effects*/
ul.tk-menu-3 li a:hover {
  text-decoration: none;
}

.tk-content {
  margin-left: 51px;
  display: none;
}
.tk-content.active {
  display: block;
}

@media (max-width: 992px) {
  ul.tk-menu-1 li, 
  ul.tk-menu-1 li a {
      width: 100%;
    display: block;
  }
  
  ul.tk-menu-3 {
    margin-left: 0;
    border-bottom: none;
  }
  .entry-content ul.tk-menu-3 li {
    display: block;
    border-right: none;
    text-align: center;
  }
  ul.tk-menu-2 {
    padding-left: 0px;
  }
  ul.tk-menu-2 li {
    width: 100%;
  }
  ul.tk-menu-2 li a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 2px 0;
  }
  ul.tk-menu-3 li:not(:last-child) {
    height: auto;
  }
  ul.tk-menu-3 li:first-child a {
    padding-left: 36px;
  }

}

@media (max-width: 768px) {
 .tk-content {
  margin-left: 0;
 } 

}
@media (max-width: 550px) {
  .tk-item .tk-item-title,
  .tk-item.active .tk-item-title {
    background-image: none;
  }
}