/* top Row */.sign-img {
	margin: 10px
}

.map-container {
	position: relative;
	width: 166px;
}
.map-container img {
	position: absolute;
}
.map-container img.map {
	max-width: 162px;
}

.pins {
	left: 71px;
	top: 33px;
}
#purple-map-overlay {
	left: 71px;
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
#green-map-overlay {
	left: 71px;
	opacity: 0;
	transition: opacity .25s ease-in;
}
#orange-map-overlay {
	left: 71px;
	opacity: 0;
	transition: opacity .25s ease-in;
}
#yellow-map-overlay {
	left: 71px;
	opacity: 0;
	transition: opacity .25s ease-in;
  top: 2px;
}
#purple-map-overlay.active, 
#green-map-overlay.active, 
#orange-map-overlay.active,
#yellow-map-overlay.active {
	opacity: 1;
}


/*Main roadmpa Listing*/
.row.roadmap {
	margin-top: 30px;
}

ul.roadmap-listing {
	padding-left: 0;
	margin-left: -4px;
}
ul.roadmap-listing li {
	margin-bottom: 17px;
}
/* Reset List styles */
ul.roadmap-listing li:before {
	content: "";
	list-style-type: none;
	padding: 0;
	margin: 0;
}
/**
 * Roadmap Item Setup
 */
ul.roadmap-listing a {
	display: block;
	position: relative;
	width: 100%;
  height: 148px;
}
.roadmap-template h2 {
	font-size: 31px;
	margin-bottom: 3px;
}
ul.roadmap-listing img {
	vertical-align: auto;
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
}
a[data-color="yellow"] img {
	border-left: 7px solid #f9bf13;
}
a[data-color="green"] img {
	border-left: 7px solid #7ac144;
}
a[data-color="orange"] img {
	border-left: 7px solid #f37638;
}
a[data-color="purple"] img {
	border-left: 7px solid #8d55a3;
}
/**
 * End Roadmap Item Setup
 */

/**
* Roadmap Item Text Area
*/
ul.roadmap-listing .section-text {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0%, -50%);
}
ul.roadmap-listing .section-text h3 {
	color: #fff;
	font-size: 31px;
	margin: 20px 0;
}
ul.roadmap-listing .section-text p {
    font: 1em 'Calibri';
    color: #fff;
    margin: 10px 0;
    display: none;
    max-width: 330px;
    font-size: 16px;
}
.triangle-down-right {
    width: 25%;
    height: 0;
    /*padding-top:25%;*/
    overflow: hidden;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: -147px;
    border-top: 147px solid transparent;
    border-right: 247px solid;
    border-right-color: #fff;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: border-right-color .25s ease-in-out;
}
ul.roadmap-listing a .arrow-link {
    width: 30px;
    height: 45px;
    display: block;
    position: absolute;
        bottom: 13%;
    right: 1.5%;
    z-index: 999;
   transition: background .25s ease-in-out;
}
ul.roadmap-listing a[data-color="yellow"] .arrow-link {
	background: url('/ncoa/assets/img/yellow-arrow.png') no-repeat;

}
ul.roadmap-listing a[data-color="green"] .arrow-link {
	background: url('/ncoa/assets/img/green-arrow.png') no-repeat;
}
ul.roadmap-listing a[data-color="orange"] .arrow-link {
	background: url('/ncoa/assets/img/orange-arrow.png') no-repeat;
}
ul.roadmap-listing a[data-color="purple"] .arrow-link {
	background: url('/ncoa/assets/img/purple-arrow.png') no-repeat;
}



/**
 * End Roadmap Item Text Area
 */

/**
* Roadmap Item Hover Effects
*/
ul.roadmap-listing a:hover .arrow-link {
	background: url('/ncoa/assets/img/white-arrow.png') no-repeat;
}
ul.roadmap-listing a:hover .section-text p {
	display: block;
	transition: display .25s ease-in-out;
}


ul.roadmap-listing a[data-color="yellow"]:hover .triangle-down-right:after {
	border-right-color: #f9bf13;
}
ul.roadmap-listing a[data-color="green"]:hover .triangle-down-right:after {
	border-right-color: #7ac144;
}
ul.roadmap-listing a[data-color="orange"]:hover .triangle-down-right:after {
	border-right-color: #f37638;
}
ul.roadmap-listing a[data-color="purple"]:hover .triangle-down-right:after {
	border-right-color: #8d55a3;
}


/*end raodmap main area styles*/


@media screen and (min-width: 992px) and (max-width: 1200px) {
  .map-container img.map {
    max-width: 132px;
    top: 7px;
  }
  .pins {
    max-width: 97px;
    left: 59px;
  }
      #yellow-map-overlay, 
      #orange-map-overlay, 
      #green-map-overlay,
      #purple-map-overlay {
        left: 59px;
        max-width: 97px;
        top: 7px;
  }
  ul.roadmap-listing a {
        height: 120px;
  }
  .triangle-down-right:after {
        margin-top: 120px;
    border-top: 120px solid transparent;
    border-right: 190px solid;
        right: 8px;
        border-right-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  ul.roadmap-listing .section-text h3 {
    font-size: 25px;
  }

  ul.roadmap-listing a {
    height: 100%;
  }
    ul.roadmap-listing img {
    height: auto;
  }
  .triangle-down-right:after {
    margin-top: 0%;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    right: 8px;
    top: 45%;
    border-right-color: transparent;
  }

  ul.roadmap-listing a:hover .section-text p {
  display: none;
  }
ul.roadmap-listing a .arrow-link {
  background: url('/ncoa/assets/img/white-arrow.png') no-repeat !important;
}
ul.roadmap-listing a .arrow-link {
  bottom: 20%;
}
}
@media screen and (max-width: 450px ) {
  ul.roadmap-listing a .arrow-link {
    bottom: 5%;
}
  ul.roadmap-listing .section-text h3 {
    font-size: 22px;
  }
}