.logo {
	overflow: hidden;

	width: 306px;
	height: 120px;

	white-space: nowrap;
	text-indent: 120%;

	background: url(../images/ats-logo.png) no-repeat;
}

header .main-nav,
header .search,
header .social,
header .support,
header li {
	display: inline-block;
}
.main-nav li {
	margin-right: 10px;
}
.main-nav a {
	font-size: 12px;
}

/* Sprites for header
 * Mixin in _base.scss 
 */
.ico_facebook-black {
	@include hidetext;
	@include spritebox(-0px, -0px, 45px, 42px);
}

.ico_linkedin-black {
	@include hidetext;
	@include spritebox(-42px, -0px, 45px, 42px);
}

.ico_mag-glass {
	@include hidetext;
	@include spritebox(-84px, -0px, 45px, 42px);
}

.ico_twitter-black {
	@include hidetext;
	@include spritebox(-0px, -45px, 45px, 42px);
}

header form {
	position: absolute;
	top: 55px;

	opacity: 0;
}
.search {
	position: relative;

	margin: 0 0 0 -4px;
}

.support {
	position: relative;
	top: -16px;
}
.support-button {
	@include bright-button(13px 5px);
	span {
		color: #fff;
	}
}
.main-nav {
	width: 100%;

	background-color: $accent-dark;
}
.main-nav li {
	display: inline-block;

	width: 24.1%;
}

.main-nav li a {
	font-family: Roboto;
	font-size: 22px;
	font-weight: 500;
	line-height: 46px;

	text-transform: uppercase;

	color: white;
	&:hover {
		text-decoration: none;
	}
}
.slogan {
    font-size: 58px;
    font-weight: 700;
    line-height: 36px;
    // Text style for "At the Technio"
     color: white;
}
/* Hero section */
@include min-width-media-query($tablet-min) {
	.hero1 {
		padding: 33.44% 0 0 0;

		background: url(../images/hero1_students.jpg) center no-repeat;
		background-size: cover;
		position: relative;
	}
	.hero1 figcaption {
		position: absolute;
		top: 33.4%;
	    margin: 0 0 0 4%;
	}
	.text-highlight {
		color: $text-highlight;
	}
	/* 'sparks global innovation' */
	.hero1 .slogan:nth-of-type(2) {
		margin-left: 7.65em;
	}
}
.news-image img  {
	height: auto;
	width: 100%;
	display: block;
}
.full-dark1 {
	background: $accent-dark;
}


