// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #464646;
$text-highlight: 	#e8b453;
$background-color: #fdfdfd;

$brand-color:      #2a7ae2;
$brand-dark:	   #015ca4;
$accent-dark: 	   #396eb2;
$brand-alt:        #005496;

$accent-bright:	   #fb8f3a;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1192px;
$wide-min:		   1200px;
$desktop-min:       979px;
$tablet-min:        768px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin max-width-media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin min-and-max-width-media-query($min-device, $max-device) {
    @media screen and (min-width: $min-device) and (max-width: $max-device) {
        @content;
    }
}

@mixin min-width-media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base", 
        "grid", 
        "styles",
        "tablet",
        "mobile"

;
