/**************************
 * Reset some basic elements
 **************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
input, select {
    vertical-align: middle;
}
/* Images */
img {
    max-width: 100%;

    vertical-align: middle;
}
nav ul {
    list-style: none;
}


/****************
 * Utilities
 ***************/

/**
 * Wrapper
 */
.wrapper {
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;

    border: 1px solid red;

    @extend %clearfix;
    @include max-width-media-query($content-width) {
        max-width: $content-width;
        margin: 0 $spacing-unit;

        widows: 100%;
    }
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        display: table;
        clear: both;

        content: '';
    }
}

/***************
 * Basic styling
 ***************/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: $base-line-height;

    color: $text-color;
    background-color: $background-color;

    -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul, > ol {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
/**
 * Trypography
*/

.bold {
    font-weight: 700;
}
.light {
    font-weight: 300;
}
.thin {
    font-weight: 100;
}


/**
 * Links
 */
a {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;
    text-decoration: none;

    color: $brand-color;
    background: transparent;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        text-decoration: underline;

        color: $text-color;
    }
}

/* Sprites */

@mixin spritebox($left, $top, $height, $width) {
    width: $width;
    height: $height;

    background-image: url(../images/spritebox-sprite.png);
    background-repeat: no-repeat;
    background-position: $left $top;
    margin: 0 2px 0 0;
}
@mixin hidetext {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 120%;
}
