.logo {
	overflow: hidden;

	width: 306px;
	height: 120px;

	white-space: nowrap;
	text-indent: 120%;

	background: url(../images/ats-logo.png) no-repeat;
}

header .main-nav,
header .search,
header .social,
header li {
	display: inline-block;
}
.main-nav li {
	margin-right: 10px;
}
.main-nav a {
	font-size: 12px;
}

/* Sprites for header
 * Mixin in _base.scss 
 */
.ico_facebook-black {
  @include spritebox(-0px, -0px, 45px, 42px);
  @include hidetext;

}

.ico_linkedin-black {
  @include spritebox(-42px, -0px, 45px, 42px);
  @include hidetext;
}

.ico_mag-glass {
  @include spritebox(-84px, -0px, 45px, 42px);
  @include hidetext;
}

.ico_twitter-black {
  @include spritebox(-0px, -45px, 45px, 42px);
  @include hidetext;
}

header form {
	display: none;
}
.search {
	margin: 0 0 0 -4px;
}
