/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* end reset */
/* Border Box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* Images and Iframes */
img,
iframe,
video {
	max-width: 100%;
	height: auto;
}
/* Normalize.css links*/
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
	outline: 0;
}
.hidetext {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
}
.group:after {
	display: table;
	clear: both;
	content: '';
}
/*******************
* Base Styles
*******************/
/* Fonts */
@font-face {
	font-family: 'ProximaNova-Light';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/ProximaNova-Light-webfont.eot') format('embedded-opentype'),
	url('../fonts/ProximaNova-Light-webfont.woff') format('woff'),
	url('../fonts/ProximaNova-Light-webfont.ttf')  format('truetype'),
	url('../fonts/ProximaNova-Light-webfont.svg') format('svg');
}
@font-face {
	font-family: 'ProximaNova-Reg';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/ProximaNova-Reg-webfont.eot') format('embedded-opentype'),
	url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
	url('../fonts/ProximaNova-Reg-webfont.ttf')  format('truetype'),
	url('../fonts/ProximaNova-Reg-webfont.svg') format('svg');
}
@font-face {
	font-family: 'ProximaNova-Bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/ProximaNova-Bold-webfont.eot') format('embedded-opentype'),
	url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),
	url('../fonts/ProximaNova-Bold-webfont.ttf')  format('truetype'),
	url('../fonts/ProximaNova-Bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/ProximaNova-Sbold-webfont.eot') format('embedded-opentype'),
	url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
	url('../fonts/ProximaNova-Sbold-webfont.ttf')  format('truetype'),
	url('../fonts/ProximaNova-Sbold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'ProximaNova-SemiboldIt';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/ProximaNova-SboldIt-webfont.eot') format('embedded-opentype'),
	url('../fonts/ProximaNova-SboldIt-webfont.woff') format('woff'),
	url('../fonts/ProximaNova-SboldIt-webfont.ttf')  format('truetype'),
	url('../fonts/ProximaNova-SboldIt-webfont.svg') format('svg');
}
body {
	font: 16px/1.5 'ProximaNova-Reg', Helvetica, sans-serif;
	background-color: #fff;
}
/*******************
* Full Width
*******************/
.wrapper {
	display: table;
	clear: both;
	width: 100%;
	max-width: 979px;
	margin: 0 auto;
	padding: 0 18px 0 20px;
	content: '';
	/*
	border-right: 1px solid red;
	border-left: 1px solid red;*/
}
/**
 * Header
 */
header {
	min-height: 173px;
	border-bottom: 4px solid #f37432;
}
header .wrapper {
	padding-top: 24px;
}
h1 {
	float: left;
	overflow: hidden;
	width: 220px;
	height: 122px;
	margin: 2px 0 0 9px;
	white-space: nowrap;
	text-indent: 100%;
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
}
/*Top Nav*/
.top {
	float: right;
}
.top li,
.top ul {
	display: inline-block;
}
.top-nav {
	position: relative;
	left: 0;
	margin-right: 4px;
	font-family: "ProximaNova-Semibold";
	font-weight: normal;
}
.top .top-nav li {
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	margin: 2px 0 10px 0;
	padding: 0 10px 0 0;
	vertical-align: middle;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: #949494;
	border-right: 1px solid #949494;
}
.top .top-nav li:nth-of-type(2) {
	margin: 2px 0 10px 6px;
}
.top .social {
	margin: 0 -9px 0 0;
}
.social li a {
	display: block;
	overflow: hidden;
	width: 23px;
	height: 22px;
	white-space: nowrap;
	text-indent: 100%;
	background: url('../images/ico-social-grey.png') no-repeat scroll transparent;
	background-position: 1px 0;
}
.social li a.twitter {
	background-position-x: ;
	background-position: -26px 0;
}
.social li a.youtube {
	background-position: -51px 0;
}
.social li a.instagram {
	background-position: -77px 0;
}
/*End Top Nav*/
/* Main Nav and Donate */
.main {
	position: relative;
	display: block;
	float: right;
	margin: 0 -9px 0 0;
}
.main li,
.main .donate {
	display: inline-block;
	vertical-align: middle;
}
.mobile-menu-toggle {
	display: none;
}
.main li:not(:last-child) {
	margin: -10px 0 0 16px;
}
.main li:not(:last-child) a {
	font-family: 'ProximaNova-Bold';
	font-size: 13px;
	line-height: 35px;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	color: #363636;
}
.main li .donate {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	position: relative;
	bottom: -18px;
	height: 97px;
	margin: 0 0 0 21px;
	padding: 8px 15px 0;
	text-align: center;
	color: white;
	background-color: #a6a851;
}
/* End Main Nav and Donate */
/**
 * End Header
 */
/* Content helper classes*/
.shaded-bg {
	padding: 0 0 79px 0;
	background: #efedea;
}
/* Banner */
.cycle-slideshow {
	width: 100%;
	max-width: 1172px;
	margin: 0 auto;
}
.shaded-bg .cycle-slideshow img {
	display: table-cell;
	/** Make it work in Chrome then override for FF
	  * http://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height
	  */
	height: auto;
	max-height: 580px;
}
.overlay {
	position: absolute;
	z-index: 100;
	top: 45%;
	left: 36.5%;
	-webkit-transform: translate(-42%, -42.5%);
	   -moz-transform: translate(-42%, -42.5%);
	    -ms-transform: translate(-42%, -42.5%);
	     -o-transform: translate(-42%, -42.5%);
	        transform: translate(-42%, -42.5%);
	color: #fff;
}
.overlay .large {
	font-family: 'Pacifico', cursive;
	font-size: 75px;
	font-weight: 400;
	line-height: 100px;
	margin: 0 0 16px 0;
	text-transform: lowercase;
	color: white;
}
.overlay .tagline {
	font-family: 'ProximaNova-Light', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	margin-left: 4px;
	letter-spacing: 0.35px;
}
.overlay .tagline a {
	font-family: 'Bree Serif', serif;
	border-bottom: 1px solid #fff;
}
.darkener {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	max-height: 580px;
	background: url(../images/black-transparent.png);
}
.cycle-slideshow li {
	max-width: 100%;
	height: 100%;
}
.slideshow-wrap {
	position: relative;
	max-width: 1172px;
	margin: 0 auto;
}
.controls a {
	position: absolute;
	z-index: 100;
	top: 48%;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	color: #fff;
}
.controls #prev {
	left: 122px;
	width: 32px;
	height: 32px;
	background: url(../images/back-arrow-orange.svg);
}
.controls #next {
	right: 112px;
	width: 32px;
	height: 32px;
	background: url(../images/next-arrow-orange.svg);
}
.no-svg .controls #prev {
	background: url(../images/back-arrow-orange.svg);
}
.no-svg .controls #next {
	background: url(../images/next-arrow-orange.svg);
}
/* End Slideshow */
/**
 * Main Content Area
 */
/* Boxes */
.content .wrapper {
	padding-right: 0;
}
.box-container {
	margin: 60px 0 0 7px;
	color: #fff;
}
.box-container h2 {
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 22px;
}
.box-left,
.box-right,
.box-center {
    display: inline-block;
    height: 295px;
    margin: 0 -2px;
    padding: 27px 35px 25px 28px;
    vertical-align: top;
    width: 32.9%;
}
.box-left {
	background-color: #63b3a4;
}
.box-center {
	background-color: #a6a851;
}
.box-right {
	background-color: #f37432;
}
.box-container p {
	font-size: 18px;
	line-height: 22px;
	margin: 19px 0 37px 0;
	color: #fff;
	font-family: 'ProximaNova-Semibold', Helvetica, sans-serif;
}
.box-container .more {
	font-family: 'Bree Serif';
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	display: block;
	width: 250px;
	height: 63px;
	padding-top: 13px;
	text-align: center;
	color: #fff;
}
.box-left .more {
	background-color: #257f6e;
}
.box-center .more {
	background-color: #818316;
}
.box-right .more {
	background-color: #cd4e0b;
}
.ico_box-hand, .ico_box-present, .ico_box-heart {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
	background: url(../images/box-sprite.png);
	background-repeat: no-repeat;
}
.ico_box-hand {
	width: 31px;
	height: 37px;
	background-position: -0 -0;
}
.ico_box-present {
	width: 34px;
	height: 37px;
	background-position: -31px -6px;
}
.ico_box-heart {
	width: 35px;
	height: 37px;
	background-position: -65px -7px;
}
/* end box area*/

/* Trending Topics main*/
/**
 * h3 is title of the sections -- Trending topics 
 * or Upcoming Events
 */
h3 {
	font-family: 'ProximaNova-Semibold';
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	padding: 0 0 12px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px dashed #000;
}
.trending-topics h3 {
    margin-right: 36px;
}
.upcoming-events h3 {
	margin-right: 16px;
}
/*Left Column*/
.trending-topics {
	font-family: 'ProximaNova-Reg', Helvetica, sans-serif;
	font-size: 14px;
	float: left;
	width: 621px;
	margin: 83px 19px 0 10px;
	padding: 0;
}
.trending-topics article {
	clear: both;
	margin: 14px 36px 0 0;
	padding: 23px 0 18px 0;
	border-top: 1px dashed black;
}
.trending-topics article:nth-of-type(1) {
	margin-top: -2px;
	border-top: none;
}
.trending-topics img {
	float: left;
	margin-right: 21px;
}
.trending-topics .date {
	font-weight: 600;
	font-style: italic;
	line-height: 22px;
	color: #575757;
}
.trending-topics h4 {
	font-family: 'Bree Serif', serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #f37432;
}
.trending-topics p {
	font-weight: 400;
	line-height: 22px;
	margin: 1px 0 3px 0;
	color: #000;
}
.trending-topics a.read-more {
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	color: #000;
}
.arrow-green {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 0 0 1px;
	vertical-align: middle;
	background: url('../images/right-arrow-green.png') no-repeat;
}
/*Right column*/
.upcoming-events {
	font-family: 'Bree Serif', serif;
	float: right;
	width: 307px;
	margin: 83px 0 0 0;
}
.upcoming-events article {
	clear: both;
	margin: 16px 0 0 0;
	padding: 17px 0 0 0;
}
.upcoming-events article:nth-of-type(1) {
	margin-top: -2px;
}
.upcoming-events img {
	float: left;
	margin: 0 15px 0 0;
	border-radius: 50%;
}
.upcoming-events h4 {
	font-family: 'Bree Serif', serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 8px 0 0 0;
	color: #f37432;
}
.upcoming-events .date,
.upcoming-events .time,
.upcoming-events .location {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #575757;
}
.upcoming-events .location {
	font-style: italic;
}
.upcoming-events .date {
	display: inline-block;
}
.upcoming-events .date:after {
	margin: 0 5px;
	content: '|';
}
.upcoming-events .time {
	display: inline-block;
}
a.view-more {
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	font-weight: 700;
	display: block;
	width: 250px;
	height: 63px;
	margin: 47px 0 0 0;
	padding-top: 13px;
	text-align: center;
	color: #fff;
	background: #63b3a4;
}
.event-text {
	display: inline-block;
	vertical-align: middle;
}
/* end sidebar*/
/* Second Slider*/
/* h5 is  Finding Forever Homes*/
h5 {
	font-family: 'Bree Serif', serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 22px;
	display: inline-block;
	width: 322px;
	margin: 47px 0 23px 14px;
	text-align: center;
	text-align: center;
	letter-spacing: 1.1px;
	color: #000;
}
.hline {
	display: inline-block;
	height: 1px;
	vertical-align: middle;
	/*border-top: 1px dashed black;*/
	background: url(../images/dotted-and-dashed.png);
}
.hline.left {
	width: 283px;
	margin-left: 9px;
}
.hline.right {
	width: 306px;
	margin-left: 14px;
}
#finding {
	margin: 14px 0 66px 0;
}
#finding p {
	line-height: 22px;
	margin: 1px 98px 30px;
	text-align: center;
}
#finding .cycle-slideshow {
	max-width: 1416px; /* 6 photos * 236px per photo*/
}
#finding .cycle-slideshow li {
    width: 100% !important;
    height: 100%;
    max-width: 236px !important;
}
/* Make the overlay work*/
#finding .cycle-slideshow img {
    display: table-cell;
}
#finding .cycle-pager {
	margin: 0 0 5px -10px;
	cursor: pointer;
	text-align: center;
}
.cycle-pager span {
	font-size: 45px;
	-webkit-transition: all 0.25s ease;
	   -moz-transition: all 0.25s ease;
	     -o-transition: all 0.25s ease;
	        transition: all 0.25s ease;
	opacity: 0.75;
	color: #acacac;
}
.cycle-pager .cycle-pager-active {
	opacity: 0.95;
	color: #63b3a4;
}
#carousel .slide-inner {
	position: relative;
}
#carousel .animal-name {
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	position: absolute;
	z-index: 99;
	bottom: 26px;
	left: 25px;
	display: none;
	color: #fff;
	font-weight: bold;
}
#carousel .underline {
	position: absolute;
	z-index: 99;
	bottom: 23px;
	left: 24px;

	display: none;

	width: 31px;

	border: 1px solid #fff;
}
/* Mask half of the image for slides at left 
 * and right bounds of image -- 1st and 6th slides
 */
 #carousel .cycle-slide-active .slide-inner,
 #carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner {
	overflow: hidden;

	width: 50%;
}
/* Adjusting the image on 1st and 6th slide for 'half visible' effect */
#carousel .cycle-slide-active .slide-inner img,
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner img {
	max-width: initial;
}
/* Transform only applies to 1st in order to fake right align - left align works on sixth image*/
#carousel .cycle-slide-active .slide-inner {
	-webkit-transform: translate(100%, 0);
	   -moz-transform: translate(100%, 0);
	    -ms-transform: translate(100%, 0);
	     -o-transform: translate(100%, 0);
	        transform: translate(100%, 0);
}

#carousel .cycle-slide-active,
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide  {
	opacity: 0.25 !important;
}
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .carousel-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height 100%;
	background: rgba(99, 179, 164, 0.75);
}
/* Show on pseudo-active slide */
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .animal-name,
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .underline {
	display: block;
}
/* Hide on slides after pseudo active slide */
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .carousel-overlay,
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .animal-name,
#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .underline {
	display: none;
	background: none;
}
.wrapper.border {
	position: relative;
	left: 10px;
	width: 932px;
	/*border: 1px dashed #000;*/
}
.hline-full {
	background: url(../images/large-dashed-line.png);
	height: 1px;
}
/* End carousel */
#compassion {
	padding-left: 28px;
    margin-bottom: 52px;
}
#compassion h3 {
	font-size: 20px;
	border-bottom: none;
}
#compassion p {
	line-height: 22px;
	margin: 10px 0 0 0;
}
#compassion p:nth-of-type(1) {
	margin-top: -4px;
}
/* Footer */
footer {
	color: #fff;
	background-color: #63b3a4;
}
footer .wrapper {
	padding-left: 25px;
}
footer nav {
	display: inline-block;
	width: 217px;
	margin: 56px 23px 0 0;
	vertical-align: top;
}
/* Tweaking a couple columns*/
nav.media {
    margin-right: 18px;
}
nav.resources {
	width: 238px;
	margin-right: 0px;
}
nav.resources ul li {
	margin: 0 0 8px 0;
}
nav.resources h6 {
	letter-spacing: 0.2px;
}
nav.adoption {
	width: 164px;
	margin-right: 0;
}
h6 {
	font-size: 15px;
	font-weight: normal;
	line-height: 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'ProximaNova-Bold', Helvetica, sans-serif;
}
footer .underline {
	display: block;
	width: 34px;
	margin: 0 0 6px 0;
	border: 1px solid #fff;
}
footer ul li {
	margin: 0 0 2px 0;
}
footer .footer-left {
	margin: 76px 0 0 4px;
}
footer .footer-left .social,
footer .footer-left form {
	display: inline-block;
	vertical-align: middle;
}
footer .footer-left form {
	position: relative;
	top: -2px;
}
footer .footer-left input[type='search'] {
	font-family: 'ProximaNova-Reg';
	font-size: 14px;
	width: 175px;
    height: 25px;
    margin: 1px 0 0 13px;
	padding: 0 0 0 25px;
	border: none;
	-webkit-appearance: none;
}
::-webkit-input-placeholder {
   color: #000;
}
:-moz-placeholder { 
   color: #000;  
}
::-moz-placeholder {  
   color: #000;  
}
:-ms-input-placeholder {  
   color: #000;  
}
footer .footer-left input[type='submit'] {
	position: absolute;
    top: 5px;
    left: 19px;
	overflow: hidden;
	width: 15px;
	height: 14px;
	white-space: nowrap;
	text-indent: 999px;
	border: none;
	background: url(../images/search-icon.png) no-repeat;
}
footer .social li {
	display: inline-block;
}
footer .social li a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 23px;
	white-space: nowrap;
	text-indent: 100%;
	background: url('../images/ico-social-white.png') no-repeat scroll transparent;
	background-position: 1px 0;
}
footer .social li a.twitter {
	background-position-x: ;
	background-position: -26px 0;
}
footer .social li a.youtube {
	background-position: -51px 0;
}
footer .social li a.instagram {
	background-position: -77px 0;
}

.logos {
	float: right;
	margin: -57px -11px 10px 0;
}
.logos img {
	margin: 0 0 0 14px;
}
footer .copyright {
    margin: 6px 0 0 4px;
    font-size: 13px;
    letter-spacing: .55px;
}
/*******************
* Small Desktop
*******************/
@media (max-width: 1170px) {
	.controls #prev {
		left: 50px;
	}
	.controls #next {
		right: 34px;
	}
/*	#finding .cycle-slideshow {
		left: -75px;
	}*/
	.upcoming-events h4 {
		font-size: 16px;
	}
	#finding .cycle-slideshow {
		left: -59px;
	}
	/* Adjust the right half / shaded image to the 5th slide */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner {
		overflow: hidden;

		width: 50%;
	}
	/* Adjusting the image on 1st and 6th slide for 'half visible' effect */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner img {
		max-width: initial;
	}
	#carousel .cycle-slide-active,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide  {
		opacity: 0.25 !important;
	}
}
/*******************
* Tablet Landscape /
* Small Laptop
*******************/
@media (min-width: 980px) and (max-width: 1000px) {
	.upcoming-events {
		width: 295px;
	}
	.trending-topics {
		width: 591px;
	}
}
@media (max-width: 979px) {
	.wrapper {
		max-width: 768px;
		padding: 0 10px;
	}
	h1 {
		width: 175px;
	}
	.main {
		width: 550px;
	}
	.main li:not(:last-child) {
		margin: 0 0 0 5px;
	}
	.main li:not(:last-child) a {
		font-size: 11px;
	}
	.main li .donate {
		font-size: 16px;
		padding: 8px 5px 0;
	}
	/* Overlay on top slider */
	.overlay {
		width: 60%;
	}
	.overlay .large {
		font-size: 60px;
		line-height: 70px;
	}
	.overlay .tagline {
		font-size: 16px;
	}
	.controls #prev {
		left: 20px;
	}
	.controls #next {
		right: 4px;
	}
	/* Events and Blog posts */
	.trending-topics,
	.upcoming-events {
		float: none;
		width: 100%;
	}
	.csscolumns .upcoming-events .col-container {
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		        column-count: 2;
	}
	/* Boxes */
	.box-left,
	.box-right,
	.box-center {
		width: 30%;
		padding: 27px 10px 25px 10px;
		height: auto;
	}
	.box-container .more {
		width: 100%;
	}
	.box-container {
		display: block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.hline {
		display: none;
	}
		h5 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	/* Carousel */
	/* Switch pseudo active slide to third slide*/
	#carousel .cycle-slide-active,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide  {
		opacity: 0.25 !important;
	}
	/* Show on pseudo-active slide */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .animal-name,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .underline {
		display: block;
	}
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .carousel-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%
		height 100%;
		background: rgba(99, 179, 164, 0.75);
	}
	/* Hide on slides after pseudo active slide */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .carousel-overlay,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .animal-name,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .underline {
		display: none;
		background: none;
	}
	/* Adjusting far right half/gray image to the 4th */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner {
		overflow: hidden;

		width: 50%;
	}
	/* Adjusting the image on 1st and 6th slide for 'half visible' effect */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner img {
		max-width: initial;
	}
	#carousel .cycle-slide-active,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide {
		opacity: 0.25 !important;
	}
	/* Wipe out an image that should appear there*/
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner {
		display: none;
	}
	.logos {
		float: none;
		margin: 20px 0 10px;
	}
	.logos img:first-of-type {
		margin-left: 4px;
	}
}
@media (max-width: 803px) {
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide {
		opacity: 0.25 !important;
	}
}
/*******************
* Tablet Portait
*******************/
/*******************
* Phone Landscape
*******************/
@media (max-width: 767px) {
	.content .wrapper {
		padding-right: 10px;
	}
	.wrapper {
		margin-right: 1%;
	}
	.mobile-menu-toggle {
		display: block;
		float: right;
		margin: 71px 0 0 0;
	}
	h1 {
		clear: both;
	}
	/* Mobile Menu */
	.mobile-menu-toggle .fa-times {
		display: none;
	}
	.mobile-menu-toggle .fa-bars {
		display: block;
	}
	.mobile-menu-toggle.active .fa-times {
		display: block;
	}
	.mobile-menu-toggle.active .fa-bars {
		display: none;
	}
	.main {
		width: 100%;
	}
	.main li {
		display: block;
		text-align: left;
	}
	.main li:not(:last-child) a {
		font-size: 15px;
	}
	nav.main {
		clear: both;
		-webkit-transition: all 0.3s ease-out;
		   -moz-transition: all 0.3s ease-out;
		    -ms-transition: all 0.3s ease-out;
		     -o-transition: all 0.3s ease-out;
		        transition: all 0.3s ease-out;
	}
	.js .main {
		overflow: hidden;
		max-height: 0;
	}
	nav.main.active {
		max-height: 15em;
	}
	/*Donate Button on menu */
	.main li .donate {
		margin: 9PX 0 0 0;
		height: 51px;
		padding: 6px 12px 0;
		bottom: 10px;
	}
	/* Slider */
	.controls #prev {
		left: 4px;
	}
	.overlay {
		width: 77%;
		left: 45%;
	}
	.overlay .large {
		font-size: 45px;
		line-height: 55px;
	}.overlay .tagline {
		font-size: 14px;
	}
	/*Boxes*/
	.box-left,
	.box-right,
	.box-center {
		width: 100%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.box-container .more {
		max-width: 300px;
		margin: auto;
	}
	/* Content*/
	.view-more {
		margin-left: 10px;
	}
	.csscolumns .upcoming-events .col-container {
		margin-left: 10px;
		-webkit-column-count: 1;
		   -moz-column-count: 1;
		        column-count: 1;
	}
	/* Finding forever */
	h5 {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	#finding p {
		margin: 1px 10px 30px;
	}
	#finding .cycle-slideshow {
	    width: 110%;
        left: -10%;
	}
		/* Carousel */
	/* Switch pseudo active slide to second slide*/
	#carousel .cycle-slide-active,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide {
		opacity: 0.25 !important;
	}
	/* Show on pseudo-active slide */
	#carousel .cycle-slide-active ~ .cycle-slide .animal-name,
	#carousel .cycle-slide-active ~ .cycle-slide  .underline {
		display: block;
	}
	#carousel .cycle-slide-active ~ .cycle-slide .carousel-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%
		height 100%;
		background: rgba(99, 179, 164, 0.75);
	}
	/* Hide on slides after pseudo active slide */
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .carousel-overlay,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .animal-name,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide .underline {
		display: none;
		background: none;
	}
	/* first slide -- back to full width */
	 #carousel .cycle-slide-active .slide-inner {
	 	overflow: inherit;
		width: 236px;
	}
	/* Adjusting the image on 1st and 6th slide for 'half visible' effect */
	#carousel .cycle-slide-active .slide-inner img,
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide ~ .cycle-slide .slide-inner img {
	max-width: 236px;
	}
	/* Transform only applies to 1st in order to fake right align - left align works on sixth image*/
	#carousel .cycle-slide-active .slide-inner {
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	     -o-transform: translate(0, 0);
	        transform: translate(0, 0);
	}
	/* Bottom carousel typography*/
	#carousel .animal-name {
		font-size: 14px;
		bottom: 17px;
		left: 14px;
	}
	#carousel .underline {
		bottom: 12px;
		left: 15px;
	}
	footer nav {
		display: block;
		width: 100%;
	    margin: 20px 0 0;
	}
	nav.about {
		margin: 40px 0 0;
	}
}
@media (max-width: 658px) {
	#carousel .cycle-slide-active ~ .cycle-slide ~ .cycle-slide {
		opacity: 0.25 !important;
	}
}
/*******************
* Phone Portrait
*******************/
@media (max-width: 480px) {
	.top {
		float: right;
		text-align: right;
	}
	.top-nav {
		margin: 0 -10px 0 0;
	}
	.top .social {
		display: block;
		margin: 0;
	}
	.top .top-nav li:nth-of-type(2) {
		border-right: none;
	}
	.trending-topics article {
		margin-right: 0;
		margin-left: 0;
	}
	.trending-topics {
		margin-left: 0;
	}
	.trending-topics img {
		float: none;
		width: 100%;
		margin: 0 0 15px 0;
	}
	.overlay .large {
		font-size: 30px;
		line-height: 35px;
	}
	.tagline br {
		display: none;
	}
	.logos img {
		display: block;
		margin: 10px 4px;
	}
/*	#finding .cycle-slideshow {
	    width: 105%;
	    left: -5%;
	}*/

	.cycle-pager span {
	    font-size: 70px;
	}
	footer .footer-left form {
		display: block;
		margin-top: 10px;
	}
	footer .footer-left input[type='search'] {
		width: 100%;
		margin-left: 0;
		text-indent: 5px;
	}
	footer .footer-left input[type='submit'] {
		top: 7px;
		left: 10px;
	}
	/*	h1 {
		    max-width: 200px;
    display: block;
    float: none;
    margin: 10px auto 0;
	}*/
	/*	.mobile-menu-toggle {
		margin-top: -52px;
	}*/
}
/*******************
* Additional Breakpoints
*******************/
@media (min-width: 768px) and (max-width: 1170px) {
	.trending-topics article {
		padding-bottom: 39px;
	}
}
@media (max-width: 400px) {
	.overlay .tagline {
	    line-height: 18px;
	}
}
}
@media (min-width: 351px) and (max-width: 400px) {
}
@media (max-width: 350px) {
		#finding .cycle-slideshow {
	    left: -37%;
	    width: 137%;
	}
	.upcoming-events h4 {
		font-size: 15px;
	}
}
/*******************
* Firefox Only
*******************/
@-moz-document url-prefix() {
	.trending-topics h4 {
		width: 105%;
	}
	.event-text {
		margin-left: -2px;
	}
	.upcoming-events h4 {
		letter-spacing: -0.5px;
	}
	.shaded-bg .cycle-slideshow img {
		display: block;
		height: 100%;
	}
	footer .footer-left input[type="search"] {
		padding-right: 25px;
	}
	/*overwrite table cell */
	#finding .cycle-slideshow img {
	    display: block;
	}
}