/**************************
 * Reset some basic elements
 **************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

input, select {
  vertical-align: middle;
}

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

/****************
 * Utilities
 ***************/
/**
 * Wrapper
 */
.wrapper {
  max-width: 1192px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
}

@media screen and (max-width: 1192px) {
  .wrapper {
    max-width: 1192px;
    margin: 0 30px;
    widows: 100%;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  display: table;
  clear: both;
  content: '';
}

/** 
 * Layout
 */
.front-sidebar {
  float: left;
  width: 27.3%;
}

.front-main {
  float: left;
  width: 72.5%;
}

/***************
 * Basic styling
 ***************/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #464646;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul, li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 49px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 45px;
  font-weight: 900;
  line-height: 14px;
  width: 193px;
  height: 32px;
  text-transform: uppercase;
  color: #fcfbf8;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  color: #005496;
}

h4 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
}

h5 {
  font-size: 45px;
  font-weight: 900;
  line-height: 112px;
  text-transform: uppercase;
  color: #f95930;
}

h6 {
  font-size: 22px;
  font-weight: 700;
  line-height: 10px;
  color: #f95930;
}

.button {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  max-width: 250px;
  margin: 19px auto 21px auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fb8f3a;
}

/**
 * Trypography
*/
p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #464646;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 100;
}

/**
 * Links
 */
a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #2a7ae2;
  background: transparent;
}

a:visited {
  color: #1756a9;
}

a:hover {
  text-decoration: underline;
  color: #464646;
}

/* Sprites */
.button {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}

.span_3_of_4 {
  width: 74.6%;
}

.span_2_of_4 {
  width: 49.2%;
}

.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 767px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%;
  }
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 767px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 767px) {
  .span_2_of_2, .span_1_of_2 {
    width: 100%;
  }
}

.logo {
  overflow: hidden;
  width: 306px;
  height: 120px;
  white-space: nowrap;
  text-indent: 120%;
  background: url(../images/ats-logo.png) no-repeat;
}

header .main-nav,
header .search,
header .social,
header .support,
header li {
  display: inline-block;
}

.main-nav li {
  margin-right: 10px;
}

.main-nav a {
  font-size: 12px;
}

/* Sprites for header
 * Mixin in _base.scss 
 */
.ico_facebook-black {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
  width: 42px;
  height: 45px;
  margin: 0 2px 0 0;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.ico_linkedin-black {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
  width: 42px;
  height: 45px;
  margin: 0 2px 0 0;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -42px 0px;
}

.ico_mag-glass {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
  width: 42px;
  height: 45px;
  margin: 0 2px 0 0;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: -84px 0px;
}

.ico_twitter-black {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 120%;
  width: 42px;
  height: 45px;
  margin: 0 2px 0 0;
  background-image: url(../images/spritebox-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -45px;
}

header form {
  position: absolute;
  top: 55px;
  opacity: 0;
}

.search {
  position: relative;
  margin: 0 0 0 -4px;
}

.support {
  position: relative;
  top: -16px;
}

.support-button {
  padding: 13px 5px;
  color: #fff;
  background: #fb8f3a;
}

.support-button:hover {
  text-decoration: none;
  border-bottom: none;
}

.support-button span {
  color: #fff;
}

.main-nav {
  width: 100%;
  background-color: #396eb2;
}

.main-nav li {
  display: inline-block;
  width: 24.1%;
}

.main-nav li a {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 46px;
  text-transform: uppercase;
  color: white;
}

.main-nav li a:hover {
  text-decoration: none;
}

.slogan {
  font-size: 58px;
  font-weight: 700;
  line-height: 36px;
  color: white;
}

/* Hero section */
@media screen and (min-width: 768px) {
  .hero1 {
    padding: 33.44% 0 0 0;
    background: url(../images/hero1_students.jpg) center no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero1 figcaption {
    position: absolute;
    top: 33.4%;
    margin: 0 0 0 4%;
  }
  .text-highlight {
    color: #e8b453;
  }
  /* 'sparks global innovation' */
  .hero1 .slogan:nth-of-type(2) {
    margin-left: 7.65em;
  }
}

.news-image img {
  height: auto;
  width: 100%;
  display: block;
}

.full-dark1 {
  background: #396eb2;
}

/* Tablet Styles */
/* @include min-and-max-width-media-query($) {

} */
