html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	font: inherit;
	font-size: 100%;

	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;
}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}body {
	line-height: 1;
}ol,ul {
	list-style: none;
}blockquote,q {
	quotes: none;
}blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}table {
	border-spacing: 0;
	border-collapse: collapse;
}

/****************
Colors

orange:
#f49721

transparentgreen
#1c6777 (convert to rgba)

light blue
#1c6777

text red
#540805



****************/

/****************
	  Utilities
****************/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* 100% height fix */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: 13px/1.5 'Open Sans', Helvetica,sans-serif;

	background: #f5f5ec;
}
header,
.main {
	width: 100%;
	max-width: 1088px;
	margin: 0 auto;

	border-right: 1px solid #e7e7d6;
	border-left: 1px solid #e7e7d6;
	background: #fff;
	box-shadow: 0 0 1px rgba(89, 89, 89, 0.75);
}
.main {
	height: auto !important;
	height: 100%; /*for IE*/
	min-height: 100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
a,
:active, :focus,
a img {
	outline: none;

	-moz-outline-style: none;
}
img {
	max-width: 100%;

	border: 0;
}
/* Typography */

@font-face {
	font-family: 'DINCond-Bold';
	font-weight: normal;
	font-style: normal;

	src: url('assets/fonts/dincond-bold/din-eot.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/dincond-bold/din-woff.woff') format('woff'),
	url('assets/fonts/dincond-bold/din-ttf.ttf')  format('truetype'),
	url('assets/fonts/dincond-bold/din-svf.svg#dincond-bold') format('svg');
}

.hidetext {
	overflow: hidden;

	white-space: nowrap;
	text-indent: 120%;
}
h2 {
	/*Lorem ipsum in banner */
	font-size: 28px;
	font-weight: 700;

	color: #fff;
}
h3,
h3 .line {
	/*Our unique approach to ending hunger*/
	font-size: 19px;
	font-weight: 700;

	text-transform: uppercase;

	color: #530805;
}
h4 {
	font-family: 'DINCond-Bold';
	font-size: 23px;
	line-height: 27px;

	text-transform: uppercase;
	/*Education and Advocacy*/

	color: #530805;
}
h5 {
	font-size: 19px;
	font-weight: 600;
	font-weight: 600;
	line-height: 13px;
	/*for synagogues*/

	color: #339cb7;
}
h6 {
	font-size: 15px;
	font-weight: 600;
	/*Post title*/

	color: #1e99b8;
}
span, p {
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;

	color: #4d4d4d;
}
p {
	margin: 19px 0 0 0;
}
a {
	text-decoration: none;
}
strong {
	font-weight: bold;
}
/*attempt to control line breaks*/
.line {
	display: block;
}
/*Link text*/
.arrow-link {
	font-family: 'DINCond-Bold';
	font-size: 18px;
	font-weight: 500;
	line-height: 10px;

	display: block;

	text-transform: uppercase;
}
/*all arrows*/
.arrow-link .arrow {
	display: inline-block;

	width: 17px;
	height: 15px;

	background-repeat: no-repeat;
	background-position: 0 2px;
}
/*Red link color*/
.arrow-link.red {
	color: #580d39;
}
/*Red arrow*/
.arrow-link.red .arrow {
	background-image: url(assets/images/arrow-link-red.png);
}
.arrow-link.orange {
	color: #ee8c00;
}
.arrow-link.orange .arrow {
	background-image: url(assets/images/arrow-link-orange.png);
}


/*Wrapper and page elements*/
.wrapper {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	/* debug */
	/*	border-right: 1px solid red;
	border-left: 1px solid red;*/
}
@media only screen and (min-width: 756px) and (max-width: 1182px) {
	.wrapper {
		width: 100%;
		padding-top: 0;
		padding-right: 22px;
		padding-bottom: 0;
		padding-left: 33px;
	}
}
@media only screen and (max-width: 755px) {
	.wrapper {
		width: 100%;
		padding-top: 0;
		padding-right: 44px;
		padding-bottom: 0;
		padding-left: 61px;
	}
}
/* Clearfix */
.clearfix,
.wrapper:after {
	display: table;
	clear: both;

	content: '';
}

@media only screen and (max-width: 1182px) {
	.main,
	header {
		width: 89.06%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 755px) {
	.main,
	header {
		width: 100%;
	}
}
/*Header*/
header h1 {
	width: 330px;
	height: 47px;

	background: url(assets/images/logo.png) no-repeat;
	background-size: contain;
}
@media only screen and (min-width: 338px) and (max-width: 398px) {
	header h1 {
		width: 272px;
	}
}
@media only screen and (min-width: 315px) and (max-width: 338px) {
	header h1 {
		width: 251px;
	}
}
@media only screen and (max-width: 315px) {
	header h1 {
		width: 205px;
	}
}

#bg-area {
	position: absolute;

	width: 100%;
	max-width: 1088px;
	height: 80px;
}
@media only screen and (min-width: 756px) and (max-width: 1182px) {
	#bg-area {
		width: 89.06%;
		max-width: 1049px;
	}
}
/**/
/* First the desktop size bgs */
@media only screen and (min-width: 456px) {
	#bg-area .left {
		width: 30%;
		width: 168px;
		height: 48px;

		background: url(assets/images/top-bg-left.png) no-repeat;
	}
	#bg-area .right {
		width: 52%;
		height: 75%;

		background: url(assets/images/top-bg-right.png) no-repeat;
	}
}
@media only screen and (max-width: 455px) {
	#bg-area {
		background: url(assets/images/top-bg-mobile.png) no-repeat;
		background-size: 100%;
	}
}
/*First wrapper special styles*/
.wrapper#top-area {
	padding-top: 59px;
	padding-bottom: 27px;

	border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 455px) {
	.wrapper#top-area {
		/*Aiming to have logo 106px from top of page 
		* at 320px */
		padding-top: 15.8%;
	}
}
@media only screen and (min-width: 1183px) {
	.wrapper#top-area {
		padding-right: 0;
		padding-left: 0;
	}
}

/*social bar and search form*/
#top-area .right {
	margin: 29px 0 0 0;
}
#top-area ul,
#top-area form {
	display: inline-block;

	vertical-align: bottom;
}
#top-area form {
	position: relative;
}

#top-area input[type='text'] {
	font-size: 11px;
	line-height: 13px;

	width: 231px;
	height: 28px;
	padding: 0 0 0 12px;

	text-transform: uppercase;

	color: #6c6c6c;
	border: 1px solid #b2b2b2;
}
#top-area input[type='submit'] {
	position: absolute;
	top: 3px;
	right: 2px;

	overflow: hidden;

	width: 23px;
	height: 22px;

	vertical-align: middle;
	white-space: nowrap;
	text-indent: 150%;

	border: none;
	background: url(assets/images/icn-search.png) no-repeat;
}
#top-area ul.social.desk {
	display: inline-block;
}
#top-area ul.social.mobile {
	display: none;
}
@media only screen and (max-width: 756px) {
	#top-area.left,
	#top-area .right {
		float: none;

		width: 100%;
	}
	#top-area ul.social.mobile {
		display: block;
		float: right;

		padding: 0 0 29px 0;
	}
	#top-area ul.social.desk {
		display: none;
	}
	#top-area form, #top-area input[type='text'] {
		width: 100%;
	}
	#top-area form {
		margin: 30px 0 0 0;
	}
}

.icn-fb,
.icn-twitter,
.icn-gplus {
	display: inline-block;

	width: 16px;
	height: 16px;

	background: url(assets/images/social-networking-icons.png) no-repeat;
}
.icn-twitter {
	background-position: -24px 0;
}
.icn-gplus {
	background-position: -49px 0;
}
/* Main Navigation */
/*Not be be confused with .main-nav class*/
.main nav {
	padding: 31px 0 31px 0;
}

/*Nav Menu*/
.main-nav li {
	display: inline-block;

	margin: 0 8.7% 0 0;
}
.main-nav li.donate {
	margin: 0;
}

.main-nav a {
	font-family: 'DINCond-Bold', serif;
	font-size: 25px;
	line-height: 48px;

	text-transform: uppercase;

	color: #580d39;
}
.main-nav li.donate a {
	color: #f19915;
}
/* Granular size adjustments for menu across 
 * Tablet view
 */
@media only screen and (min-width: 960px) and (max-width: 1182px) {
	.main-nav li {
		margin: 0 6.5% 0 0;
	}
}
@media only screen and (min-width: 808px) and (max-width: 959px) {
	.main-nav li {
		margin: 0 3.5% 0 0;
	}
}

@media only screen and (min-width: 757px) and (max-width: 807px) {
	.main-nav li {
		margin: 0 2.5% 0 0;
	}
}

@media only screen and (max-width: 756px) {
	.main-nav ul {
		text-align: center;
	}
	.main-nav li {
		margin: 0 7% 0 0;
	}
	/*	.main-nav li.donate {
		display: block;
	}*/
	.wrapper#top-area {
		border-bottom: none;
	}
	.wrapper#menu-wrap {
		padding-right: 29px;
		padding-left: 24px;
	}
}
/* Front slider */
.banner {
	position: relative;

	overflow: auto;

	height: 100%;
	max-height: 411px !important;
}
.banner li {
	list-style: none;
}
.banner ul li {
	position: relative;

	float: left;
}
.banner img {
	height: auto;
}
.caption {
	position: absolute;
	top: 0;
	left: 0;

	width: 25%;
	margin: 1.85% 0 0 0;
	padding: 1% 1.2% 1% 1.5%;

	background: #1c6878;
	background: rgba(28, 104, 120, 0.6);
}
.caption p {
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	line-height: 29px;

	color: white;
}
.caption .sign-up-button {
	display: block;

	width: 125px;
	padding: 13px;

	color: #339cb7;
	background: url(assets/images/arrow-link-blue.png) #fff 102px 14px no-repeat;
}

@media only screen and (min-width: 1183px) {
	/*	.banner > li {
		min-height: 411px;
	}*/
}

.banner .dots {
	position: absolute;
	right: 6.99%;
	bottom: 20px;
}
.banner .dots li {
	display: inline-block;

	width: 16px;
	height: 16px;
	margin: 0 4px;

	cursor: pointer;
	-webkit-transition: background 0.5s, opacity 0.5s;
	   -moz-transition: background 0.5s, opacity 0.5s;
	     -o-transition: background 0.5s, opacity 0.5s;
	        transition: background 0.5s, opacity 0.5s;
	text-indent: -999em;

	opacity: 0.95;
	border-radius: 8px;
	background: #d1d1d1;
}
.banner .dots li.active {
	opacity: 1;
	background: #258296;
}

/* Main page  sections*/
.page {
	margin: 36px 0 71px 0;
}
.content-block {
	float: left;

	width: 73%;
	padding: 17px 71px 93px 53px;
}
.sidebar-right {
	float: right;

	width: 26.29%; /* 286px / 1088px */
}
@media only screen and (max-width: 756px) {
	.content-block,
	.sidebar-right {
		float: none;

		width: 100%;
	}
}
/* Main page specifics */
.byline {
	font-size: 12px;
	font-weight: 600;
	font-style: italic;

	color: #339cb7;
}
.byline-alt {
	margin: 0 0 0 0;
}


/*Sidebar*/
/*Featured Area*/
.sidebar-right .featured-text,
.content-block .sub-sidebar-1 {
	padding: 26px 0 44px 30px;
}
.sidebar-right .sub-sidebar-1,
.content-block .sub-sidebar-1 {
	background: #f19915;
}
.sidebar-right .sub-sidebar-1 h2 a,
.content-block .sub-sidebar-1 h2 a {
	font-size: 22px;

	padding: 26px 51px 0 30px;

	color: #fff;
}
.sidebar-right .sub-sidebar-1 p,
.content-block .sub-sidebar-1 p {
	font-family: 'Georgia', serif;
	font-size: 13.5px;

	margin: 0;

	color: #fff;
}
.sub-sidebar-1 .arrow-link.red {
	margin: 24px 0 0 0;
}
/* blog feed */
.sub-sidebar-2 {
	display: block; /*This only shows up wider than 1020px*/

	margin: 34px 0 0 0;
	padding: 30px 12px 25px 27px;

	background: #efeede;
}
.subscribe {
	font-family: OpenSans;
	font-size: 12px;
	font-style: italic;

	float: right;

	margin: 6px 0 0 0;
}
.subscribe a {
	color: #787878 !important;
}

.rss {
	display: inline-block;

	width: 13px;
	height: 12px;
	margin: 0 0 0 4px;

	background: url(assets/images/rss-icon.png);
}
@media only screen and (max-width: 756px) {
	.subscribe {
		display: none;
	}
}
.post-front {
	margin: 30px 0 64px;
}
.post-title a {
	font-size: 15px;
	font-weight: 600;

	text-decoration: underline;

	color: #1e99b8;
}
.post-date {
	font-size: 12px;
	font-style: italic;

	color: #2f2f2f;
}
.post-front .arrow-link {
	margin: 22px 0 0 0;
}
/* Sign up Section */
.sub-sidebar-2 input[type='text'],
  .sub-sidebar-2 input[type='email'] {
	font-family: Georgia;
	font-size: 11px;
	font-style: italic;
	line-height: 24px;

	height: 28px;
	margin: 19px 0 0 0;
	padding: 0 0 0 10px;

	border: none;
}
.sub-sidebar-2 input[type='text'] {
	display: inline-block;

	width: 47.3%;
}
.sub-sidebar-2 input[name='first_name'] {
	margin-right: 1.8%;
}
input[type='email'] {
	width: 100%;
}
/* 
 * The mobile tablet only 'sign up' box will have the same styles
 * as submit
 */
.sign-up-button,
.sub-sidebar-2 input[type='submit'] {
	font-family: 'DINCond-Bold';
	font-size: 20px;
	line-height: 10px;

	width: 110px;
	height: 38px;
	margin: 20px 0 0 0;

	text-transform: uppercase;

	color: white;
	border: none;
	background: url(assets/images/arrow-link-white.png) #299db6 82px 12px no-repeat;
}

/* Begin generated grid code */
/*Columns*/
.section {
	clear: both;

	width: 100%; /* Added to generated code */
	max-width: 639px; /* Added to generated code */
	margin: 0;
	padding: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;

	margin: 1% 0 1% 0;
	padding: 0 4.25% 0 4.25%;
}
/*For second section*/
/*Avoid 'for synagogues' line break*/
.content-block:nth-of-type(2) .section .col:nth-of-type(1) h5 {
	width: 110%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
	display: table;

	content: '';
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 */
}
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 63.83%;
}
.span_1_of_3 {
	width: 32.8%;
}

/*end grid code*/
/* First Grid styles */
.col img {
	height: auto;
}
.content-block:nth-of-type(1) .col {
	text-align: center;
}
.content-block:nth-of-type(1) .section {
	margin: 27px 0 0 0;
}
.col img,
.col h4 {
	padding: 0 3%;
}
.col p {
	margin-bottom: 19px;

	color: #2c2c2c;
}
@media only screen and (max-width: 756px) {
	.content-block:nth-of-type(1) .col:not(:last-child) {
		border-right: 1px solid #b2b2b2;
	}
}

/*Second grid styles */
.content-block:nth-of-type(2) .section {
	margin: 38px 0 0 0;
}

/*
 * Tablet Layout Change
 */

/**
 * Hide things that are moved into the content block
 * are when we're at tablet width 
 */
.sign-up-small,
.sign-up-phone,
.content-block .sub-sidebar-1 {
	display: none;
}
.sign-up-small,
.sign-up-phone {
	width: 100%;
	width: 84%;
	margin: 22px 0 0 0;
	padding: 20px 32px 18px 21px;

	background: #efeede;
}
.sign-up-small h3,
.sign-up-phone h3 {
	float: left;

	width: 60%;
}
.sign-up-small .sign-up-button,
.sign-up-phone .sign-up-button {
	float: right;

	margin: 10px 0 0 0;
}
.sign-up-phone .sign-up-button {
	padding: 10px 0 0 15px;
}
@media only screen and (max-width: 1020px) {
	/* Hide the whole sidebar on tablet and phone*/
	.sidebar-right,
	.content-block:nth-of-type(2) {
		display: none;
	}
}
@media only screen and (min-width: 757px) and (max-width: 1020px) {
	/*This becomes our top container*/
	.content-block {
		padding: 17px 0 93px 0;
	}
	.content-block p {
		font-size: 14px;
	}
	/*This is the container for the tablet sign up area*/
	.sign-up-small {
		position: absolute;
		bottom: 0;

		display: block;
	}
	/* Sign up button position*/

	/*Bring back part of the sidebar*/
	.content-block .sub-sidebar-1 {
		display: block;
		float: right;

		width: 33.29%;
	}
	.content-block .sub-sidebar-1 h2 {
		padding: 0 10px 20px 0;
	}
	.sign-up-button {
		display: block;

		padding: 10px 10px 12px 20px;
	}
	.content-block {
		width: 100%;
	}
	.intro-text {
		position: relative;

		float: left;

		width: 64%;
		padding: 0 34px 0 48px;

		background: #fff;
	}

	/* Hide Looking for resources */
	.content-block:nth-of-type(2) {
		display: none;
	}
	.content-block:nth-of-type(1) .section {
		margin: 27px 0 0 0;
	}
	/* Make 3col grid full width */
	.section {
		max-width: 100%;
	}
	/* Abs position makes margins on parent element not work*/
	.span_1_of_3 {
		margin: 37px 0 0 0;
	}
}

/* Finer-grain tablet styles */
@media only screen and (min-width: 855px) and (max-width: 910px) {
	.sign-up-small h3 {
		font-size: 17px;
	}
	.sign-up-small .sign-up-button {
		margin: 8px 0 0 0;
	}
}
@media only screen and (min-width: 756px) and (max-width: 854px) {
	.sign-up-small h3 {
		font-size: 14px;
	}
	.sign-up-small .sign-up-button {
		margin: 3px 0 0 0;
	}
}

/* Mobile */
@media only screen and (max-width: 756px) {
	.sidebar-right {
		display: block;
	}
	.sub-sidebar-2 {
		display: none;
	}
	/*Match left alignment with logo*/
	.sidebar-right .featured-text {
		padding: 26px 0 44px 40px;
	}
	.sidebar-right .sub-sidebar-1 h2 {
		padding: 26px 51px 0 40px;
	}
	/*content area: remove padding and add margins*/
	.content-block {
		padding: 0;
	}
	/* add it back for intro text and grid */
	.intro-text {
		margin: 39px 29px 40px 43px;
	}
	.content-block:nth-of-type(1) .section {
		max-width: 100%;
	}
	.col {
		padding: 0 2.25% 0 2.25%;
	}
	.col p,
	.col .arrow-link {
		display: none;
	}
}

@media only screen and (min-width: 400px) and (max-width: 465px) {
	h4 {
		font-size: 21px;
	}
}
@media only screen and (min-width: 350px) and (max-width: 399px) {
	h4 {
		font-size: 17px;
	}
}
@media only screen and (max-width: 349px) {
	h4 {
		font-size: 15px;
	}
}

footer {
	position: relative;

	padding: 0 32px 0 39px;

	background: #581038;
}

footer .left {
	width: 70%;
	margin: 35px 0 0 0;

	color: #fff;
}
footer .left p {
	color: #fff;
}
.left .footer-title {
	font-family: 'DINCond-Bold';
	font-size: 23px;
	line-height: 24px;

	text-transform: uppercase;

	color: #fff;
}
footer .section {
	max-width: 100%;
}
footer .right {
	width: 29.5%;
	margin: -16px 0 0 0;
	padding: 35px 35px 26px 35px;

	background: #299db6;
}
footer .right p {
	font-size: 14px;
	line-height: 24px;

	position: relative;
	top: -16px;

	margin: 22px 0 27px 0;

	color: #101010;
}
footer .right .fax {
	font-style: italic;

	color: #2f2f2f;
}
.email {
	text-decoration: underline;

	color: white;
}
a.send-message {
	display: block;

	width: 100%;
	max-width: 205px;
	padding: 8px;

	color: green;
	background: #fff;
}
.send-text {
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;

	display: inline-block;

	vertical-align: middle;
	text-transform: uppercase;

	color: #339cb7;
}
.pencil {
	display: inline-block;

	width: 22px;
	height: 22px;
	margin: 0 15px 0 0;
	padding: 0 10px 0 20px;

	vertical-align: middle;

	border-right: 1px dashed #299db6;
	background: url(assets/images/pencil.png) no-repeat;
	background-size: contain;
}
footer .col:not(:last-child) {
	border-right: 1px solid #794060;
}
footer nav {
	position: absolute;
	bottom: 5px;

	padding: 0 !important;
}
footer nav ul li {
	display: inline-block;

	padding: 0 10px 0 10px;

	border-right: 1px solid #fff;
}
footer nav ul li:last-of-type {
	border-right: none;
}

@media only screen and (max-width: 1020px ) {
	footer nav {
		width: 45%;
	}
}

footer nav.phone {
	display: none;
}
@media only screen and (max-width: 756px) {
	footer nav.phone {
		display: block;

		width: 95%;

		text-align: center;

		color: #fff;
	}
}
/*Tablet*/

/**
 * Modify the grid on desktop
 * Using Min-width because content 
 * falls out on tablet and phone
 */
@media only screen and (min-width: 1021px) {
	footer .span_1_of_3:nth-of-type(1) {
		width: 40%;
		padding: 0 1.25% 0 0;
	}
	footer .span_1_of_3:nth-of-type(2),
	footer .span_1_of_3:nth-of-type(3) {
		width: 29.5%;
	}
	footer .col:nth-of-type(1) img {
		display: inline-block;

		width: 106px;
		margin: 40px 0 0 -10px;

		vertical-align: middle;
	}
	footer .col:nth-of-type(3) .footer-title {
		margin: 0 0 21px 0;
	}
	.legend {
		font-size: 12px;
		font-weight: 500;
		font-style: italic;
		line-height: 24px;

		display: inline-block;

		width: 55%;
		margin: 40px 0 0 0;

		vertical-align: middle;

		color: #fdfdfd;
	}
	.legend div {
		padding: 0 0 0 20px;
		/*Three image spritesheet*/

		background: url(assets/images/squares.png) no-repeat;
		background-position: 0 8px;
	}
	/* Sprites with nth-of-type */
	.legend div:nth-of-type(2) {
		background-position: 0 -21px;
	}
	.legend div:nth-of-type(3) {
		background-position: 0 -48px;
	}
}
@media only screen and (min-width: 1021px) and (max-width: 1100px) {
	footer .right {
		padding: 35px 20px 26px 20px;
	}
}
@media only screen and (min-width: 1021px) and (max-width: 1182px) {
	.left .footer-title {
		font-size: 20px;
	}
	footer .right p {
		font-size: 12px;
	}
	.send-text {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1020px) {
	footer .col p,
	footer .col img,
	footer .col .legend,
	footer .col:nth-of-type(1) img {
		display: none;
	}
	/*Don't add up to 100% b/c of the margin to the right of the blue box*/
	footer .right {
		width: 43%;
	}
	footer .left {
		width: 57%;
	}
	footer .right p {
		font-size: 13px;
	}
	.left .footer-title {
		font-size: 16px;

		text-align: center;
	}
	footer .col:nth-of-type(1) {
		padding: 0 1.25% 0 0;
	}
	footer .col:nth-of-type(1) {
		padding: 0 1.25% 0 1.25%;
	}
}
@media only screen and (min-width: 756px) and (max-width: 840px) {
	footer .right p {
		font-size: 12px;
	}
}
@media only screen and (min-width: 756px) and (max-width: 960px) {
	.left .footer-title {
		font-size: 14px;
	}
}
@media only screen and (max-width: 756px) {
	footer .left {
		display: none;
	}
	footer .right {
		width: 100%;
	}
	footer {
		padding: 0 18px 0 16px;
	}
	.sign-up-phone {
		display: block;

		width: 96%;
		margin: 30px auto 0;
	}

	.sign-up-phone .sign-up-button {
		margin: 0;
	}
	footer .right {
		height: 293px;
		margin-bottom: 67px;
	}
	.sub-sidebar-1 .featured-text img {
		margin: -20px 0 0 0;
	}
	.sub-sidebar-1 .featured-text p {
		width: 70%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1182px) {
	h2 {
		font-size: 22px;
	}
	.caption p {
		font-size: 18px;
	}
	.caption {
		margin: 1% 0 0 0;
		padding: 0.5%;
	}
}
@media only screen and (max-width: 960px) {
	.caption {
		display: none;
	}
}


/* CMS cleanup */
#poweredBy {
	display: none !important;
}