/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 *
 *
 */

@font-face {
    font-family: 'ProximaNova-Reg';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNova-Reg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova-RegIt';
    src: url('../fonts/ProximaNova-RegIt-webfont.eot');
    src: url('../fonts/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-RegIt-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-RegIt-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-RegIt-webfont.svg#ProximaNova-RegIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold-webfont.eot');
    src: url('../fonts/proximanova_bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold-webfont.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('../fonts/ProximaNova-BoldIt-webfont.eot');
    src: url('../fonts/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-BoldIt-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-BoldIt-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-BoldIt-webfont.svg#ProximaNova-BoldIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Cubano-Reg';
    src: url('../fonts/cubano-regular-webfont.eot');
    src: url('../fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cubano-regular-webfont.woff') format('woff'),
         url('../fonts/cubano-regular-webfont.ttf') format('truetype'),
         url('../fonts/cubano-regular-webfont.svg#cubano-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova-SBold';
    src: url('../fonts/proximanova_semibold/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/proximanova_semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova_semibold/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('../fonts/proximanova_semibold/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova_semibold/ProximaNova-Sbold-webfont.svg#ProximaNova-Sbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
